<!DOCTYPE html>
<html>
    <head>
        <title>Ajay resume</title>
        <link rel="icon" href="AJAY profile image.JPG">
        <link rel="" href=>
    </head>
<body>
<center> <h1>AJAY A</h1></center>
<center><image src="AJAY profile image.JPG"> </image></center>
<center><h4>My passion is all forms of programming. My objective is to work in a challenging environment that gives me the opportunities for contributing towards Technologies and overall professional development of the organization. </h4></center>
<h3><b>EDUCATION</b></h3>
<p>	<b>Bachelor of Engineering in ECE 
    (2019 to 2023):</b><br>
    Score - 8.7 CGPA<br>
    Jeppiaar Institute Of Technology,
    Chennai (Affiliated College of Anna University, Chennai)<br>
    
    	<b>HSC (2017 to 2019) :</b> <br>
    Score – 75.2 %<br>
    MGM Matriculation Higher Secondary School, Pochampalli<br>
    
    	<b>SSLC (2016 to 2017) :</b> <br>
    Score – 94.2 %<br>
    Sri Vijay Shanthi Jain Matriculation Higher Secondary School, Tirupattur
    
    </p>
    <h3><b>PROJECT</b></h3>
    <P>	<b>Academic Final Year Project (Feb 2023 to May 2023):</b>
        Wireless EV Charging Using RFID Electric vehicle project<br>
        <b>Description:</b> This project involves in providing wireless charging support using RFID tags for Electric vehicles. This project built using Arduino IDE software.
        <br>
        	<b>Academic IBM Project (oct 2022 to Jan  2022):</b>Academic IBM Project (oct 2022 to Jan  2022)
        News Tracker website could project<br>
       <b> Description:</b> This project involves in providing the news for user as per his suggestions. This project is built with HTML, CSS for frontend and Python for backend.
        <br>
        	<b>Academic Project (March 2022 to June 2022):</b>
        Brain Tumor Segmentation and Detection using SVM<br>
        <b>Description:</b> This project is based upon Brain tumor which is used to detect and segment the brain tumor. It is developed using MATH LAB software. Presented this project in the International Conference on Advanced Communication Computing and Material Science conducted by Saveetha Institute of Medical  and Technical Science
        <br>
    </P>
<h3><B>TECHNICAL SKILLS</B></h3>
    <P>	Python<br>
    	SQL<br>
    	Data Science<br>
    	Web development(HTML &CSS)<br>
    	C<br>
    	MATHLAB<br>
    </P>
 <h3><B>CERTIFICATES</B></h3>
    <p>	SOLO LEARN - certificate on Python for beginner,HTML,Python data structures <BR>
        	NPTEL- Python for Data Science with elite certificate <BR>
        	GUVI- certificate on Python<BR>
        	ACCENTURE- certification on Digital skill for work and life<BR>
        	My overall certificates were attached in this Drive link:
       <a href=" https://drive.google.com/drive/folders/1-SbnAv0n78VuW3c8JHJ1JxwFP-mrMln4"> my certificates</a>
        </p>
        <hr>
<center><h4> Contact </h4></center>
<center><h4> mobile no: 6381702544 | Email:ajaykumarboss18@gmail.com </h4></center>
<center><h5> Adress:34,Dhandapani kovil street ,tirupattur-635601</h5></center>
</body>

</html>